<div class='text-center blogpost_content'>
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  {{#each comments}}
    <li>{{this.text}}</li>
  {{/each}}

  <p>
    <button class='btn btn-primary'>BlogPost!</button>
    <button
      class='btn btn-sm btn-primary comment-blogpost'
      data-id='{{blogPost.id}}'
    >Comment</button>
  </p>

</div>

<div class='row mt-4 comment-form displayForm'>
  <div class='col-md-6'>
    <h3>Comment a BlogProject:</h3>

    <form class='form new-project-form'>
      {{! <div class='form-group'>
        <label for='project-name'>Title:</label>
        <input
          class='form-input'
          type='text'
          id='project-name'
          name='project-name'
          value='title'
          />
      </div> }}

      <div class='form-group'>
        <label for='comment-msg'>Message:</label>
        <textarea class='form-input' id='comment-msg' name='comment-msg'>
        </textarea>
      </div>
      <div class='form-group'>
        <button
          type='submit'
          data-id='{{id}}'
          class='btn btn-primary commentsubmit-button'
        >Submit</button>
        <button
          data-id='{{id}}'
          class='btn btn-primary cancel-commentbutton'
        >Cancel</button>
      </div>
    </form>
  </div>

</div>
<script src='/js/comment.js'></script>